<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">1234</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/acm</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.default_schema">acm</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping class="es.acm.entities.Lugar"/>
        <mapping class="es.acm.entities.RelParticipanteTutor"/>
        <mapping class="es.acm.entities.TipoActividad"/>
        <mapping class="es.acm.entities.Participante"/>
        <mapping class="es.acm.entities.TipoParentesco"/>
        <mapping class="es.acm.entities.TipoCargoSocio"/>
        <mapping class="es.acm.entities.Jornada"/>
        <mapping class="es.acm.entities.Socio"/>
        <mapping class="es.acm.entities.Tutor"/>
        <mapping class="es.acm.entities.RelActividadParticipante"/>
        <mapping class="es.acm.entities.Actividad"/>
    </session-factory>
</hibernate-configuration>
